body { font-family: 'Microsoft YaHei', '微软雅黑';}
a { color: #333;}
a:hover { text-decoration: none;}
.bg-danger { color: #f00; padding: 4px 6px;}

/*页头*/
.navbar-brand { font-weight: bold;}
.navbar-header .navbar-toggle .icon-bar { background-color: #666;}

/*页脚*/
footer { color: #666; margin-top: 15px; border-top: 2px solid #eee; padding-top: 15px;}
footer a { color: #666;}
.bs-docs-footer-links { padding-left: 0; margin-top: 20px; }
.bs-docs-footer-links li { display: inline; padding: 0 2px; }
.bs-docs-footer-links li:first-child { padding-left: 0; }

/*提示*/
#message a { margin: 0 4px;}

/*验证码*/
.captcha { cursor: pointer;}
.captcha:hover { color: #a94442;}
.captcha:hover .glyphicon-refresh {
    animation:rotate 2s infinite;
    -moz-animation:rotate 2s infinite;
    -webkit-animation:rotate 2s infinite;
    -o-animation:rotate 21s infinite;
}
@keyframes rotate
{
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(180deg);}
}
@-moz-keyframes rotate
{
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(180deg);}
}
@-webkit-keyframes rotate
{
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(180deg);}
}
@-o-keyframes rotate
{
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(180deg);}
}

/*分页*/
.pagination { margin: 0;}
.panel-heading a { color: #fff;}
.panel-body p.info { text-indent: 2em;}

/*正文*/
.page-body { padding: 15px; margin-bottom: 15px; box-shadow: 0 6px 12px rgba(0,0,0,.175); width: 100%; overflow: hidden;}
.page-body img { max-width: 100%;}
.page-footer { padding: 15px;}
.page-footer a { display: block; margin-bottom: 6px;}

/*广告*/
.ads { width: 100%; height: auto; overflow: hidden; margin-bottom: 20px; border-radius: 4px;}
.ads img { width: 100%; height: auto;}

/*幻灯*/
.carousel-control { background-image: none !important;}
.carousel-indicators { bottom: -25px;}
.carousel-indicators li { background-color: #333;}
.carousel-indicators .active { background-color: #333;}

/*人物*/
#person h3 { margin:6px;}