body { font-family: 'Microsoft YaHei', '微软雅黑';}
a { color: #333;}
a:hover { text-decoration: none;}
.bg-danger { color: #f00; padding: 4px 6px;}

/*页头*/
.navbar-brand { font-weight: bold;}
.navbar-header .navbar-toggle .icon-bar { background-color: #666;}

/*页脚*/
footer { color: #666; margin-top: 15px; border-top: 2px solid #eee; padding-top: 15px;}
footer a { color: #666;}
.bs-docs-footer-links { padding-left: 0; margin-top: 20px; }
.bs-docs-footer-links li { display: inline; padding: 0 2px; }
.bs-docs-footer-links li:first-child { padding-left: 0; }

/*提示*/
#message a { margin: 0 4px;}

/*分页*/
.pagination { margin: 0;}
.panel-heading a { color: #fff;}
.panel-body p.info { text-indent: 2em;}
.page-body {  border-bottom: 1px solid #eee; padding: 0 15px 15px; margin-bottom: 15px;}
.page-footer {  padding: 0 15px 15px;}
.page-footer a { display: block; margin-bottom: 6px;}